:root {
    --previousTop: 0;
    --previousLeft: 0;
    --previousWidth: 0;

    --targetTop: 0;
    --targetLeft: 0;

    --cyber-grape: #54457F;
}

@font-face {
    font-family: hansip;
    src: url('fonts/Hansip.ttf');
}

body {
    margin: 0;
    font-family: hansip, sans-serif;
}

@media only screen and (min-width: 1500px) {
    #root>#App {
        padding: 20px 40px;
        grid-template-columns: 5fr 5fr 2.5fr;
        grid-template-rows: 1fr 1fr;

        grid-template-areas: 
            "binder collection header"
            "binder collection resetbtn"
    }

    #App>#binder, #App>#collection {
        max-width: 650px;
    }

    #App>#binder {
        grid-area: binder;
    }

    #App>#collection {
        grid-area: collection;
    }

    #App>#header {
        grid-area: header;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5vh;
        position: relative;
        z-index: 1;
        pointer-events: none;
    }

    #header>#scorebox {
        flex-direction: column;
        align-items: flex-start;
    }

    #App>#resetbtn {
        grid-area: resetbtn;
        position: relative;
        z-index: 1;
    }

    #App>#pierremain {
        left: initial;
        top: 0;
        right: -110px;    
        height: 50vh;
        filter: opacity(0.5);
        
    }
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cyber-grape);
}

#App {
    box-sizing: border-box;
    background-color: var(--cyber-grape);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2.5fr 0.5fr;
    gap: 20px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 20px;
}

#header {
    
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 15vw;
}

#header>h1 {
    color: white;
    justify-self: end;
    font-size: 2.2rem;
}

@keyframes excited {
    0% {transform: translate(-50%, 0%);}
    50% {transform: translate(-50%, 50%);}
    100% {transform: translate(-50%, 0%);}
}
#scorebox {
    color: white;
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 20px;
}

#score {
    font-size: 2.2rem;
}

#highscore {
    font-size: 2.2rem;
}

#loadmessage {
    color: white;
}

#binder {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 15px;
    gap: 15px;
    height: 100%;
    max-height: 100%;
    position: relative;
    background-color: rgb(0, 0, 0);
    max-width: 450px;
    box-shadow: -10px 10px black;
}

.cardSlot {
    background: linear-gradient(60deg, rgba(167, 167, 167, 0.2) 70%, rgba(255, 255, 255, 0.5) 100%);
    width: 103%;
    height: 103%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: 2px dashed rgb(165, 165, 165);
    pointer-events: none;
}

#collection {

    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 15px;
    gap: 15px;
    height: 100%;
    max-height: 100%;
    background-color: goldenrod;
    max-width: 450px;
    box-shadow: -10px 10px black;
    position: relative;
}

.Card {
    background-color: white;
    border-radius: 10px;

    height: 1fr;

    position: relative;

}



img {
    display: none;
}

img:not(#binder *):not(.cardCopy) {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

img.shown {
    display: block;
    max-height: 100%;
    mix-blend-mode: multiply;
    filter: opacity(1) brightness(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s;
}

img.shown:hover {
    filter: opacity(1) brightness(150%);
}





#collection img {
    /* content:url("images/cardback.png"); */
    transform: scale(100%, 100%);
    animation: collectionReveal 1.3s;
    display: block;
    filter: opacity(0);
}

#collection>.cardShadow {
    background-color: black;
    display: block;
    border-radius: 10px;
    box-shadow: inset -5px 5px 0px rgb(59, 59, 59);
}


.cardCopy {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: block;
    filter: opacity(1);
    animation: moveCard 1s;
    pointer-events: none;
    border-radius: 10px;
    transform: scale(-100%, 100%);
    content:url("images/cardback1.gif");
    transition: all 0.5s;
}

.cardCopy.killedcard {
    transform: rotate(360deg) scale(10%);
    filter: opacity(10%);
}

@keyframes moveCard {
    0% {filter: opacity(1); top: var(--previousTop); left: var(--previousLeft); transform: scale(100%, 100%); content: initial;}
    50% {content: initial; transform: scale(140%, 140%);
        filter: opacity(1); top: var(--previousTop); left: calc(var(--previousLeft) + var(--previousWidth) + 10px)}
    100% {content:url("images/cardback1.gif"); transform: scale(-100%, 100%);
        filter: opacity(1); top: var(--targetTop); left: var(--targetLeft)}

}

#coverbox {
    position: absolute;
    left: 0;
    top: 0;
    height: 110%;
    width: 100%;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    transition: all 0.4s -0.3s;
    transform:translate(0%, -5%);
    pointer-events: none;
}

#cover {
    background: rgb(61,61,61);
    background: linear-gradient(118deg, rgb(41, 41, 41) 20%, rgba(0,0,0,1) 100%);
    height: 100%;
    width: 100%;
    transform: scaleX(1) scaleY(0.97) scaleZ(1) rotateY(0deg);
    transition: all 0.4s -0.3s;
    border-radius: 0px 30px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#coverbox.opencoverbox {
    perspective: 1000px;
    perspective-origin: 50% 50%;
    transform: translate(-46%, -5%);
}

#cover.opencover {
    transform: scaleX(0.1) scaleY(1) scaleZ(1) rotateY(-10deg);
}

#cover>h1 {
    color: white;
}


#resetbtn {

    grid-column: span 2;
    background-color: goldenrod;
    background-image: url('images/pierre.gif');
    background-size: 5px;
    background-position: center;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

    box-sizing: border-box;
    border: 5px solid transparent;
    transition: all 0.4s, filter 0s;
    width: 100%;
    justify-self: center;
    font-family: hansip, sans-serif;
    font-size: 3.5rem;
    
    margin-top: 20px;
}

#resetbtn:hover {
    border: 5px solid black;
    border-radius: 20px;
    width: 50%;
    background-size: 500px;
    color: white;
    font-size: 2rem;
}

#resetbtn:active {
    filter: brightness(0.5);
}

#resetbtn>div {
    pointer-events: none;
    margin-bottom: -20px;
}

.dust {
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 3;
    display: block;
    filter: opacity(0);
    transform: translateX(70%);
    pointer-events: none;
}

.landing {
    position: absolute;
    width: 250px;
    height: 250px;
    display: block;
    transform: translate(-25%, -15%);
    filter: opacity(0);
    z-index: 1;
}

#pierre {
    height: 15%;
    position: absolute;
    display: block;
    z-index: 3;
    pointer-events: none;
    transition: all 2s;
    left: 50%;
}

#pierremain {
    height: 30%;
    position: absolute;
    display: block;
    z-index: 0;
    transition: all 2s, transform 0.5s;
    left: 50%;
    transform: translate(-50%);
    filter: hue-rotate(0deg);
}

#pierremain:hover {
    filter: hue-rotate(-90deg);
    transform: translate(-50%, 50%);
}

.wrongtext {
    position: absolute;
    transform: translate(-20%, 10%);
    background-color: white;
    color: red;
    padding: 20px 10px 10px 10px;
    font-size: 4rem;
    border-radius: 15px;
    pointer-events: none;
    animation: wrongani 0.15s infinite;
}

@keyframes wrongani {
    0% {transform: rotate(0deg) translate(-20%, 10%) scale(100%)} 
    33% {transform: rotate(20deg) translate(-20%, 10%) scale(80%)}
    66% {transform: rotate(0deg) translate(-20%, 10%) scale(100%)}
    100% {transform: rotate(-20deg) translate(-20%, 10%) scale(110%)}
    100% {transform: rotate(0deg) translate(-20%, 10%) scale(100%)}
}

#winmessage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    background-color: rgba(255, 0, 0, 0.24);
    backdrop-filter: blur(10px);
    z-index: 3;
    padding: 30px 20px 20px 20px;
    width: 80vw;
    text-align: center;
    color: white;
}

#infobtn {
    position: absolute;
    font-size: 2rem;
    top: 10px; 
    right: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 100%;
    width: 0.75rem;
    height: 0.75rem;
    filter: opacity(0.3);
    transition: all 0.4s;
}

#infobtn:hover {
    filter: opacity(1);
    background-color: red;
    color: white;
}

#infobtn>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
}

#info {
    position: absolute;
    filter: opacity(0);
    font-size: 4rem;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.37);
    transition: all 0.6s;
    padding: 20px;
    backdrop-filter: blur(10px);
    height: 50vh;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#info::-webkit-scrollbar {
    display: none;
  }

#info.infoshown {
    top: 50%;
    filter: opacity(1);
}