#binder {
    background-color: teal;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

img {
    display: none;
}

img.shown {
    display: block;
}

#testdiv {
    background-color: goldenrod;
}